{% extends "repomaker/app/index.html" %}
{% load i18n %}
{% load static %}
{% load compress %}

{% block title %}{% blocktrans with app=app.name %}Edit {{ app }}{% endblocktrans %}{% endblock %}

{% block back-button %}<div class="mdl-layout-spacer"></div>{% endblock back-button %}

{% block top-buttons %}
<!-- TODO: button to remove translation -->
<form action="" enctype="multipart/form-data" method="post">
{% csrf_token %}
<a href="{% url 'delete_app' app.repo.id app.id %}" class="rm-no-underline">
	<button type="button" class="rm-button--red-border mdl-button mdl-js-button">
		{% trans 'Remove App' %}
	</button>
</a>
<button type="submit" class="rm-button mdl-button mdl-js-button">
	{% trans 'Done' %}
</button>
{% endblock top-buttons %}

{% block app-lang-url %}{% url 'app_edit' app.repo.id app.id lang.code %}{% endblock app-lang-url %}

{% block author %}
<div class="rm-app-author mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	<label for="id_author_name" class="mdl-textfield__label">{% trans 'By' %}</label>
	{{ form.author_name }}
</div>
{% endblock author %}


{% block summary %}
{% block before-summary %}{% endblock before-summary %}
<div class="rm-app-summaries">
	{% if app.summary_override and not form.lang %}
	<div class="rm-app-summary-edit mdl-js-textfield">
		<label for="id_summary_override" class="mdl-textfield__label">{% trans 'Summary Override (40 characters)' %}</label>
		{{ form.summary_override }}
	</div>
	{% endif %}
	<div class="rm-app-summary-edit mdl-js-textfield">
		<label for="id_summary" class="mdl-textfield__label">{% trans 'Short Summary (40 characters)' %}</label>
		{{ form.summary }}
	</div>
</div>
{% endblock summary %}


{% block categories %}
<div id="rm-app-categories">
	{% for category in app.category.all %}
	<span id="category_{{ category.id }}" class="rm-app-category-chip">
		<span class="rm-app-category-text">{{ category.name }}</span>
		<button type="button" class="mdl-chip__action" onclick="removeCategory({{ category.id }})">
			<i class="material-icons">clear</i>
		</button>
	</span>
	{% endfor %}
	<button type="button" id="rm-app-category-add" class="rm-app-category-chip-add mdl-js-button">
		<span class="mdl-chip__action"><i class="material-icons">add</i></span>
		<span class="rm-app-category-text">{% trans 'Category' %}</span>
	</button>
	<div class="rm-app-category-menu mdl-js-menu mdl-js-ripple-effect" data-mdl-for="rm-app-category-add">
		<p>{% trans 'Choose Category' %}</p>
		{% for category in form.category.field.queryset.all %}
		<button type="button" id="add_category_{{ category.id }}" onclick="addCategory({{ category.id }})">
			{{ category.name }}
		</button>
		{% endfor %}
	</div>
</div>
<noscript class="rm-app-category-label">
	<label for="id_category">{% trans 'Choose Category' %}</label>
</noscript>
{{ form.category }}
{% endblock categories %}


{% block description %}
{% if app.description_override and not form.lang %}
<h4 class="rm-app-section">{% trans 'Description Override' %}</h4>
{{ form.description_override }}
{% endif %}

<h4 class="rm-app-section">{% trans 'Description' %}</h4>
{{ form.description }}
{% endblock description %}


{% block screenshot-header %}
<div class="rm-app-section mdl-cell mdl-cell--8-col">
	{% trans 'Screenshots' %}
</div>
{% endblock screenshot-header %}

{% block screenshot-drop %}
<div id="rm-dnd-holder--screenshots"  class="rm-app-screenshot-drop rm-form">
	<i class="rm-app-screenshot-drop-icon">file_upload</i>
	<div class="rm-app-screenshot-drop-title">{% trans 'Add files' %}</div>
	<!-- TODO: Make this translatable properly -->
	<div class="rm-app-screenshot-drop-description-first">
		<span class="rm-dng-text" hidden>{% trans 'Drag and drop screenshots' %}</span>
	</div>
	<div class="rm-app-screenshot-drop-description-second">
		<span class="rm-dng-text" hidden>{% trans 'or' %}</span>
		<label for="id_screenshots" class="rm-app-screenshot-drop-upload-browse">{% trans 'browse to upload' %}</label>
		{{ form.screenshots }}
	</div>
	{{ form.screenshots.errors }}
</div>
<div id="rm-dnd-holder--screenshots--loading" class="rm-app-screenshot-drop--loading" hidden>
	<div class="rm-dnd-progress mdl-js-progress"></div>
	<h3 id="rm-dnd-holder--screenshots--loading-title" class="rm-app-screenshot-drop--loading-title"></h3>
</div>
{% endblock screenshot-drop %}


{% block screenshot-delete %}
<a href="{% url 'screenshot_delete' app.repo.id app.id screenshot.id %}" class="rm-app-screenshot-delete"
   data-id="{{ screenshot.id }}">
	<button type="button" class="mdl-js-button">
		<i>delete</i>
	</button>
</a>
{% endblock screenshot-delete %}


{% block feature-graphic %}
<div class="rm-grid--center mdl-grid">
	<div class="rm-app-feature-graphic mdl-cell mdl-cell--8-col">
		<h4 class="rm-app-section">{% trans 'Feature Graphic' %}</h4>

		<div id="rm-dnd-holder--feature-graphic" class="rm-app-screenshot-drop rm-form">
			<i class="rm-app-screenshot-drop-icon">file_upload</i>
			<div class="rm-app-screenshot-drop-title">{% trans 'Add files' %}</div>
			<div class="rm-app-screenshot-drop-description-first">
				<span class="rm-dng-text" hidden>{% trans 'Drag and drop a feature graphic' %}</span>
			</div>
			<div class="rm-app-screenshot-drop-description-second">
				<span class="rm-dng-text" hidden>{% trans 'or' %}</span>
				<label for="id_feature_graphic" class="rm-app-screenshot-drop-upload-browse">{% trans 'browse to upload' %}</label>
				<input type="file" name="feature_graphic" id="id_feature_graphic">
			</div>
			{{ form.feature_graphic.errors }}
		</div>
		<div id="rm-dnd-holder--feature-graphic--loading" class="rm-app-screenshot-drop--loading" hidden>
			<div class="rm-dnd-progress mdl-js-progress"></div>
			<h3 id="rm-dnd-holder--feature-graphic--loading-title" class="rm-app-screenshot-drop--loading-title"></h3>
		</div>

		{% if app.feature_graphic %}
		<img id="rm-app-feature-graphic-img" src="{{ app.feature_graphic.url }}"/>
		<a href="{% url 'delete_feature_graphic' app.repo.id app.id %}" class="rm-app-feature-graphic-delete">
			<button type="button" class="mdl-js-button">
				<i>delete</i>
			</button>
		</a>
		{% endif %}
	</div>
</div>
{% endblock feature-graphic %}


{% block apk-drop %}
<span class="error">{{ form.apks.errors }}</span>
<div id="rm-dnd-holder--apks" class="rm-app-versions-drop rm-form">
	<i class="rm-app-versions-drop-icon">file_upload</i>
	<div class="rm-app-versions-drop-title">{% trans 'Add files' %}</div>
	<!-- TODO: Make this translatable properly -->
	<div class="rm-app-versions-drop-description-first">
		<span class="rm-dng-text" hidden>{% trans 'Drag and drop .apk files' %}</span>
	</div>
	<div class="rm-app-versions-drop-description-second">
		<span class="rm-dng-text" hidden>{% trans 'or' %}</span>
		<label for="id_apks" class="rm-app-versions-drop-upload-browse">{% trans 'browse to upload' %}</label>
		{{ form.apks }}
	</div>
</div>
<div id="rm-dnd-holder--apks--loading" class="rm-app-versions-drop--loading" hidden>
	<div class="rm-dnd-progress mdl-js-progress"></div>
	<h3 id="rm-dnd-holder--apks--loading-title" class="rm-app-versions-drop--loading-title"></h3>
</div>
{% endblock apk-drop %}


{% block apk-delete %}
<a href="{% url 'apk_delete' app.repo.id app.id pointer.id %}" class="rm-app-versions-item-delete"
   data-id="{{ pointer.id }}">
	<button type="button" class="mdl-js-button">
		<i>delete</i>
	</button>
</a>
{% endblock apk-delete %}


{% block prev-url %}{{ app.get_previous.get_edit_url }}{% endblock %}

{% block next-url %}{{ app.get_next.get_edit_url }}{% endblock %}


{% block page-footer %}
</form>
<div id="rm-repo-id" data-id="{{ app.repo.id }}"></div>
<div id="rm-app-id" data-id="{{ app.id }}"></div>

{% compress css file dialog-polyfill %}
<link rel="stylesheet" type="text/css" href="{% static 'node_modules/dialog-polyfill/dialog-polyfill.css' %}" />
{% endcompress %}

{% compress js file dialog-polyfill %}
<script src="{% static 'node_modules/dialog-polyfill/dialog-polyfill.js' %}"></script>
{% endcompress %}

<script type="text/javascript" src="/static/node_modules/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/static/django_tinymce/jquery-1.9.1.min.js"></script>

{% compress js file edit %}
<script type="text/javascript" src="{% static 'repomaker/js/app/edit.js' %}"></script>
<script type="text/javascript" src="{% static 'repomaker/js/mdl-tinymce.js' %}"></script>
{% endcompress %}

{% compress js file drag-and-drop %}
<script type="text/javascript" src="{% static 'repomaker/js/drag-and-drop.js' %}"></script>
{% endcompress %}

{% endblock page-footer %}
